/* ========== BODY CONTAINER ========== */

#body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  overflow-x: hidden;
}

/* ========== HEADER ========== */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--text-light);
  padding: 1rem;
  width: 95%;
  overflow: hidden;
}

/* NAVIGATION */

nav {
  display: flex;
}

.header__list--active {
  display: flex;
  list-style: none;
  gap: 2rem;
}

.header__list-item--active a {
  text-decoration: none;
  font-size: 1rem;
}

.header__navigation-logo {
  filter: invert(99%) sepia(0%) saturate(12%) brightness(80%) contrast(119%);
}

.div__side-bar--active {
  display: none;
}

.div__side-bar--active.active {
  display: flex;
}


/* Buger content */

.navigation-side-bar {
  display: none;
}

/* Burger Bars */
#bar-1, #bar-2, #bar-3 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
}

/* ========== SLIDING TEXT ========== */

#text-information {
  display: inline-block;
  white-space: nowrap;
  font-weight: 800;
  font-size: 1.2rem;
  position: relative;
  animation: slide 15s linear infinite;
}

@keyframes slide {
  0% {
    transform: translateX(-450%);
  }
  100% {
    transform: translateX(480%);
  }
}

/* ========== MAIN ========== */

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

/* --- WELCOMING SECTION --- */

.main__welcoming-profil--active {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.main__welcoming-profil-social-detail--active {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  border: 1px solid aliceblue;
  border-radius: var(--border-radius);
  padding: 1rem;
  width: 15%;
}

#main-profile-picture {
  width: clamp(120px, 15vw, 200px);
  height: clamp(120px, 15vw, 200px);
  object-fit: cover;
  border-radius: 50%;
}

/* Title (H2) */
.h2-background-set {
  background-color: var(--bg-dark);
  width: 100%;
}

h2 {
  font-size: clamp(2rem, 6vw, 6rem);
  text-align: center;
}

/* Text Section */
.main__section-welcoming--active {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main__section-welcoming-text--active {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 1rem;
  gap: 1rem;
  padding: 5rem 0 10rem 0;
}

#section-welcoming-text--active {
  padding: 1rem;
  font-size: clamp(1.2rem, 2vw, 2rem);
}

.main__welcoming-text--active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  width: auto;
  border: 1px solid aliceblue;
  border-radius: var(--border-radius);
  padding: 1rem;
}
/* OUTSIDE CONTAINER */

#email-text {
  color: var(--text-color);
  text-align: center;
  font-size: 1rem;
}

#email-text:hover {
  color: var(--text-light);
}

/* ========== FOOTER ========== */

footer {
  padding: 2rem;
  background-color: #000;
  text-align: center;
  width: 100%;
  font-size: clamp(0.9rem, 1vw, 1rem);
}

/* ========== MEDIA QUERIES ========== */

@media screen and (max-width: 1065px) {
  .main__section-welcoming-text--active {
    flex-direction: column;
    align-items: center;
    padding: 2rem;
  }

  .main__welcoming-profil-social-detail--active {
    width: 100%;
  }

  .main__welcoming-profil-language--active {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  nav {
    display: none;
  }

  .navigation-side-bar {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .div__side-bar.active {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #000000dc;
    padding-top: 2rem;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .div__side-bar ul {
    list-style: none;
  }

  .div__side-bar li {
    padding: 1rem;
  }

  .div__side-bar a {
    color: white;
  }

  #text-information {
    display: none;
  }
}

/* ========== DARK MODE ========== */

@media (prefers-color-scheme: dark) {
  :root {
    background-color: var(--bg-color);
    color: var(--text-color);
  }

  a:hover {
    color: aliceblue;
  }

  button {
    background-color: rgb(10, 10, 10);
  }
}