/* ========== BODY CONTAINER ========== */

#body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  overflow-x: hidden;
}

/* ========== MAIN ========== */

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

/* Title (H2) */
.h2-background-set {
  background-color: var(--bg-dark);
  width: 100%;
}

h2 {
  font-size: clamp(2rem, 6vw, 6rem);
  text-align: center;
}

/* --- MY STACK SECTION --- */

table {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

table tbody {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

tr {
  display: flex;
  flex-direction: column;
}

table p {
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 10px;
}

td div {
  display: flex;
  flex-direction: column;
}


/* OUTSIDE CONTAINER */

/* ========== FOOTER ========== */

footer {
  padding: 2rem;
  background-color: #000;
  text-align: center;
  width: 100%;
  font-size: clamp(0.9rem, 1vw, 1rem);
}

/* ========== MEDIA QUERIES ========== */

@media screen and (max-width: 1065px) {
  .main__welcoming-profil-language--active {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
  }
}

@media screen and (max-width: 810px) {

  #nav {
    display: none;
  }

  nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  #nav.show {
    display: flex;
    position: fixed;
    inset: 0;
    background-color: rgba(14, 14, 14, 0.863);
    backdrop-filter: blur(8px);
  }

  .hamburger {
    width: 40px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  .hamburger.show {
    z-index: 1;
  }

  .hamburger span {
    height: 4px;
    background: white;
    border-radius: 4px;
  }

  .navigation-side-bar {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .div__side-bar.active {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #000000dc;
    padding-top: 2rem;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .div__side-bar ul {
    list-style: none;
  }

  .div__side-bar li {
    padding: 1rem;
  }

  .div__side-bar a {
    color: white;
  }

  #text-information {
    display: none;
  }
}